<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.booking.dao.BookingDAO">

   <select id="getBookingList" parameterType="String" resultType="com.example.demo.booking.dto.BookingDTO">
SELECT booking_code as id, main_code as mainCode, start_time as startTime, end_time as endTime, booking_state as bookingState
FROM booking
WHERE use_date=  TO_DATE(#{date}, 'YY/MM/DD')

    </select>

</mapper>
