<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.booking.dao.BookingDAO">
	
<!-- BookingDTO 데이터를 삽입하는 INSERT 쿼리문 -->
<insert id="insertBooking" parameterType="com.example.demo.booking.dto.BookingDTO">
    INSERT INTO booking (
        BOOKING_CODE, BOOKING_DATE, CANCLE_DATE, USE_STATE, START_TIME, END_TIME, COST, BOOKING_STATE, USER_CODE, MAIN_CODE
    )
    VALUES (
        #{bookingCode}, SYSDATE, #{cancleDate}, #{useState}, #{startTime}, #{endTime}, #{cost}, #{bookingState}, #{userCode}, #{mainCode}
    )
</insert>



</mapper>
